@import '../../assets/styles/common.scss';

#view-token-modal {
  width: 1050px;

  // don't know if used, what is this for, what is this from
  .ncss-label {
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
  }

  #view-token-modal-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;

    p {
      padding-left: 5px;
    }
  }

  #renew-btn-container {
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-left: 10px;
      width: 110px;
    }
  }

  .view-token-modal-token-wrapper {
    margin-top: 15px;
    border-style: solid;
    border-radius: 2px;
    border-color: $snkrs_medium_grey;
    border-width: 1px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;

    .view-token-modal-token {
      display: flex;
      flex-direction: row;
    }
  }

  .view-token-modal-date-wrapper {
    margin-top: 15px;
    border-style: solid;
    border-radius: 2px;
    border-color: $snkrs_medium_grey;
    border-width: 1px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;

    .view-token-modal-date {
      display: flex;
      flex-direction: row;
    }
  }

  .view-token-modal-time-left-wrapper {
    margin-top: 15px;
    border-style: solid;
    border-radius: 2px;
    border-color: $snkrs_medium_grey;
    border-width: 1px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;

    .view-token-modal-time-left {
      display: flex;
      flex-direction: row;
    }
  }

    .view-token-modal-data-label {
      font-size: 16px;
      font-weight: bold;
    }

    .view-token-modal-data-token-value {
      padding-left: 5px;
      margin-left: 140px;
      margin-top: 3px;
    }

    .view-token-modal-data-date-value {
      padding-left: 5px;
      margin-left: 17px;
      margin-top: 3px;
    }

    .view-token-modal-data-time-left-value {
      padding-left: 5px;
      margin-left: 12px;
      margin-top: 3px;
    }
}

.row-buttons {
  display: flex;
  margin-left: 6px;
  height: 40px;

  .btn-wrapper {
    @extend .clickable;
    box-shadow: inset 0 1px 0 0 $snkrs_medium_grey,inset -1px 0 0 0 $snkrs_medium_grey,inset 0 -1px 0 0 $snkrs_medium_grey,inset 1px 0 0 0 $snkrs_medium_grey;
    padding: 3px;
    width: 40px;
    margin-right: -1px;

    &:hover {
      background-color: $snkrs_off_white;
    }

    &:active {
      background-color: $snkrs_grey;
    }
  }

  .btn-wrapper-left {
    border-top-left-radius: 2px!important;
    border-bottom-left-radius: 2px!important;
  }

  .btn-wrapper-right {
    border-top-right-radius: 2px!important;
    border-bottom-right-radius: 2px!important;
  }

  .row-btn {
    @extend .clickable;
  }

  .row-btn-copy {
    background: url(../../assets/images/copy.svg);
    background-repeat: no-repeat;
    padding: 11px;

    margin-top: 6px;
    margin-left: 7px;
  }

  .row-btn-reveal {
    background: url(../../assets/images/eye.svg);
    background-repeat: no-repeat;
    padding: 12px;
    margin-top: 9px;
    margin-left: 5px;
  }

  .row-btn-revealed {
    background: url(../../assets/images/eye_closed.svg);
    background-repeat: no-repeat;
    padding: 12px;

    margin-top: 5px;
    margin-left: 4px;
  }

  .row-btn-remove {
    background: url(../../assets/images/remove-red.svg);
    background-repeat: no-repeat;
    padding: 9px;

    margin-top: 8px;
    margin-left: 8px;
  }
}

.secret-value-placeholder {
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  border-radius: 2px;
  background-color: $snkrs_medium_grey;
}

// need to clean up

.pb-container {
  display: inline-block;
  // text-align: center;
  height: 40px;
  width: 110px;

  // width: 100%;

  .ncss-btn-dark-grey {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }


}
.pb-container .pb-button {
  background: transparent;
  // border: 2px solid currentColor;
  // border-radius: 27px;
  color: currentColor;
  cursor: pointer;
  // padding: 0.7em 1em;
  // text-decoration: none;
  // text-align: center;
  height: 27px;
  width: 90%;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s, border-radius 0.3s;
}



.pb-container .pb-button span {
  display: inherit;
  transition: opacity 0.3s 0.1s;
  // font-size: 2em;
  // font-weight: 100;
}
.pb-container .pb-button svg {
  // height: 54px;
  // width: 54px;
  height: 30px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.pb-container .pb-button svg path {
  opacity: 0;
  fill: none;
}
.pb-container .pb-button svg.pb-progress-circle {
  animation: spin 0.9s infinite cubic-bezier(0.085, 0.260, 0.935, 0.710);
}
.pb-container .pb-button svg.pb-progress-circle path {
  stroke: currentColor;
  stroke-width: 5;
}
// .pb-container .pb-button svg.pb-checkmark path,
// .pb-container .pb-button svg.pb-cross path {
//   stroke: #fff;
//   stroke-linecap: round;
//   stroke-width: 4;
// }
.pb-container.disabled .pb-button {
  cursor: not-allowed;
}
.pb-container.loading .pb-button {
  // width: 90px;
  border-width: 6.5px;
  border-color: #ddd;
  // cursor: wait;
  background-color: transparent;
  // padding: 0;
}
.pb-container.loading .pb-button span {
  transition: all 0.15s;
  opacity: 0;
  display: none;
}
.pb-container.loading .pb-button .pb-progress-circle > path {
  transition: opacity 0.15s 0.3s;
  opacity: 1;
}
// .pb-container.success .pb-button {
//   border-color: #A0D468;
//   background-color: #A0D468;
// }
// .pb-container.success .pb-button span {
//   transition: all 0.15s;
//   opacity: 0;
//   display: none;
// }


// .pb-container.success .pb-button .pb-checkmark > path {
//   opacity: 1;
// }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center center;
  }
}






.info-block {
  animation-name: anim-info-updated;
  animation-duration: 8s;
}

@keyframes anim-info-updated {
  0% {
    border: 2px solid green;
    background-color:  rgba(0, 128, 0, 0.5);
    color: rgb(0, 64, 0);
  }
  4% {
    border: 2px solid transparent;
  }
  8% {
    border: 2px solid green;
  }
  12% {
    border: 2px solid transparent;
  }
  16% {
    border: 2px solid green;
  }
  50% {
    border: 2px solid green;
    background-color:  rgba(0, 128, 0, 0.5);
    color: rgb(0, 64, 0);
  }
  100% {
    border: 2px solid transparent;
    background-color:  rgba(0, 128, 0, 0);
    color: rgb(0, 128, 0);
  }
}
